<div class="container">
  <div class="qr-container">
    <%= form_with model: @location do |f| %>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>
      <div>
        <%= f.label :latitude %>
        <%= f.text_field :latitude %>
      </div>
      <div>
        <%= f.label :longitude %>
        <%= f.text_field :longitude %>
      </div>
      <%= f.submit %>
    <% end %>
  </div>
</div>
