<div class="container">
  <div class="row">
    <div class="column column-80 column-offset-10">
      <%= form_with model: @location do |f| %>
        <%= f.text_field :code, type: :hidden %>
        <div>
          <%= f.label :code %>
          <%= f.text_field :code, disabled: true %>
        </div>
        <div>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.label :address %>
          <%= f.text_field :address %>
        </div>
        <div>
          <%= f.label :latitude %>
          <%= f.text_field :latitude %>
        </div>
        <div>
          <%= f.label :longitude %>
          <%= f.text_field :longitude %>
        </div>
        <%= f.submit %>
        <%= link_to "re print", print_locations_path(ids: @location.id), class: "button button-outline" %>
      <% end %>
    </div>
  </div>
  <% if @visits %>
  <div class="row">
    <div class="column column-80 column-offset-10">
      <strong>Count:</strong> <%= @count %>
    </div>
  </div>
  <div class="row">
    <div class="column column-80 column-offset-10">
      <pre>
        <code>
          <%= JSON.pretty_generate(@visits.map(&:meta_data)) %>
        </code>
      </pre>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="column column-50 column-offset-25">
      <div class="qr-code">
        <%= @qr_svg %>
      </div>
    </div>
  </div>
</div>
