<div class="container">
  <div class="row show-qrtc">
    <% if @location %>
      <div class="column column-50 hash-tags">
        <%= @location.name.inspect %>
        <div class="hash-tags-main">#<%= @location.code %></div>

        #QRTC #QRTC.art #ARTC
        <div class="count">Count: <%= @count %></div>
      </div>
      <div class="column column-50 hash-tags">
        <div class="qr">
            <%= @qr_svg %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="column column-50 column-offset-25">
      take a look at publicly uploaded art works
    </div>
  </div>
  <div class="row">
    <div class="column column-50 column-offset-25">
      <% if @location %>
        <%= link_to(
          "https://www.instagram.com/explore/tags/#{@location.code}/",
          "https://www.instagram.com/explore/tags/#{@location.code}/"
        ) %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="column column-50 column-offset-25">
      <%= link_to(
        "https://www.instagram.com/explore/tags/qrtc/",
        "https://www.instagram.com/explore/tags/qrtc/"
      ) %>
    </div>
  </div>
</div>
