<div class="container">
  <div class="row show-qrtc">
    <% if @location %>
      <div class="column column-50 hash-tags">
        <%= link_to "#QRTC.art", root_path %>
        <br />
        <%= @location.name.inspect %>
        <%= link_to "##{@location.code}", "/#{@location.code}", class: "hash-tags-main" %>
        <div class="count">Count: <%= @count %></div>
      </div>
      <div class="column column-50 hash-tags">
        <div class="qr">
            <%= @qr_svg %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="column">
      <div id="pixlee_container"></div>
      <script type="text/javascript">
        window.PixleeAsyncInit = function() {
          Pixlee.init({apiKey:'181UZTCE_Zxhu0-cT95P'});
          Pixlee.addSimpleWidget({widgetId:'33314'});
        };
      </script>
      <script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>
    </div>
  </div>
</div>
