<div class="container">
  <div class="row">
    <div class="column"></div>
    <div class="column">
      <h1>QRTC.art</h1>
      <p>QR codes for local street art</p>
    </div>
    <div class="column"></div>
  </div>
  <div class="row">
    <div class="column"></div>
    <div class="column">
      <%= link_to(
        "Next QRTC",
        location_path(Location.active_sample&.code),
        class: "button block",
        data: {
          testid: "action"
        }
      ) %>
      <%= link_to(
        "Pay Artist",
        pay_locations_path,
        class: "button block",
        data: {
          testid: "action"
        }
      ) %>
      <%= link_to(
        "I ❤️ QRTC",
        signup_locations_path,
        class: "button block",
        data: {
          testid: "action"
        }
      ) %>
    </div>
    <div class="column"></div>
  </div>
  <div class="row">
    <div class="column"></div>
    <div class="column">
      <input id="input" class="invisible-absolute-left" type="text" value="<%= @location.hash_tag_text %>"/>
      <button class="button button-outline block" id="copy">Copy #hash tag</button>
      <div class="count">Count: <%= @count %></div>
    </div>
    <div class="column"></div>
  </div>
  <div class="row">
    <div class="column"></div>
    <div class="column">
      <button
        class="button button-outline block"
        data-toggle="modal"
        data-target="modal-pay-artist"
      >Pay Artist</button>
      <button
        class="button button-outline block"
        data-toggle="modal"
        data-target="modal-i-heart-qrtc"
      >I ❤ QRTC</button>
    </div>
    <div class="column"></div>
  </div>
</div>

<div class="container" id="modal-example">
  <div class="mg-modal" id="modal-pay-artist">
    <div class="mg-modal--content container">
      <span class="mg-modal--closebtn mg-icon-close"></span>
      <h3>Pay Artist</h3>
    </div>
  </div>
  <div class="mg-modal" id="modal-i-heart-qrtc">
    <div class="mg-modal--content container">
      <span class="mg-modal--closebtn mg-icon-close"></span>
      <h3>Sign Up to QRTC</h3>
      </div>
    </div>
  </div>
</div>

<script>
  function toggleModal(event) {
    var modal = document.querySelector(`#${event.target.dataset.target}`) ||
      document.querySelector(".mg-show");
    // if(event.target.classList && event.target.classList.contains("mg-show")) {
    //   console.log("yes")
    // }
    // TODO: work out how to close the modal if only the outer div is clicked and NOT the contents of the div
    modal.classList.toggle("mg-show")
    document
      .querySelectorAll(".mg-show")
      .forEach(element => element.addEventListener("click", toggleModal));
  }

  document
    .querySelectorAll("[data-toggle=modal]")
    .forEach(element => element.addEventListener("click", toggleModal));

  document
    .querySelectorAll(".mg-modal--closebtn")
    .forEach(element => element.addEventListener("click", toggleModal));

</script>

<script>
  function copy() {
    var copyText = document.querySelector("#input");
    copyText.select();
    document.execCommand("copy");
  }

  document.querySelector("#copy").addEventListener("click", copy);
</script>