<div class="container">
  <div class="row show-qrtc">
    <div class="column column-50 hash-tags">
      <%= link_to "#QRTC_art", root_path, "data-turbolinks" => false %>
      <br />
      <%= @location.name.inspect %>
      <div class="hash-tags-main">#<%= @location.code %></div>
      <input id="input" class="invisible-absolute-left" type="text" value="<%= @location.hash_tag_text %>"/>
      <button class="button button-outline" id="copy">Copy #hash tag</button>
      <div class="count">Count: <%= @count %></div>
    </div>
    <div class="column column-50 hash-tags">
      <div class="qr">
          <%= @qr_svg %>
      </div>
    </div>
  </div>
  <div id="pixlee_container"></div>
  <script type="text/javascript">
    window.PixleeAsyncInit = function() {
      Pixlee.init({apiKey:'181UZTCE_Zxhu0-cT95P'});
      Pixlee.addSimpleWidget({widgetId:'33314'});
    };
  </script>
  <script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>
</div>

<script>
  function copy() {
    var copyText = document.querySelector("#input");
    copyText.select();
    document.execCommand("copy");
  }

  document.querySelector("#copy").addEventListener("click", copy);
</script>